h1{
  text-align: center;
  color: darkgreen;
  font-weight: 200px;
  }

h2{
  text-align: center;
  color: darkblue;
  }

h3{
  text-align: center;
   color: darkblue;
  }

p{
  text-align: center;
  font-style: italic;
  color: darkblue;
}

ul{
  color: grey;
  list-style-type: none;
}

body{
  text-align: center;
  text-align: center;
  background-color: cyan;
}

li{
  align-items: center;
  text-align: center;
  list-style-type: none;
}
